<p id="notice"><%= notice %></p>

<h1>Ticket Types</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td colspan="3">Operations</td>
    </tr>
  </thead>

  <tbody>
    <% @ticket_types.each do |ticket_type| %>
      <tr>
        <td><%= ticket_type.name %></td>
        <td><%= ticket_type.price %></td>
        <td><%= link_to 'Show', ticket_type %></td>
        <td><%= link_to 'Edit', edit_ticket_type_path(ticket_type) %></td>
        <td><%= link_to 'Destroy', ticket_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

