<div id="<%= dom_id clase %>">
  <p>
    <strong>Titulo:</strong>
    <%= clase.titulo %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= clase.duracion %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= clase.precio %>
  </p>

  <p>
    <strong>Contenidos:</strong>
    <%= clase.contenidos %>
  </p>

  <p>
    <strong>Requisitos:</strong>
    <%= clase.requisitos %>
  </p>

  <p>
    <strong>Modalidad:</strong>
    <%= clase.modalidad %>
  </p>

  <p>
    <strong>Evaluacion:</strong>
    <%= clase.evaluacion %>
  </p>

</div>
