<div class="row ml-0">
  <div class="col-6">
    <%= form_with model: event, local: true do |form| %>
      <%= errors_for event %>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :start_date, class: "form-label" %>
        <%= form.datetime_local_field :start_date, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :event_venue, class: "form-label" %>
        <%= form.collection_select(:event_venue_id, EventVenue.all.order(name: :asc), :id, :name, {}, { class: "form-control" }) %>
      </div>
      <div class="mb-3">
        <%= form.label :flyer %>
        <%= form.file_field :flyer, class: "form-control-file" %>
      </div>      
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= ticket_type_section_title %></h5>
        <p><%= ticket_type_instruction_text %></p>
        <div id="ticket_types_add_form">
          <%=form.fields_for :ticket_types do |ticket_types_form| %>
            <div class="mb-3">
              <%= ticket_types_form.label :name, class: "form-label" %>
              <%= ticket_types_form.text_field :name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= ticket_types_form.label :price, class: "form-label" %>
              <%= ticket_types_form.text_field :price, class: "form-control" %>
              <% if action_name == 'edit' %>
              <div class="form-check mt-2">
                <%= ticket_types_form.check_box :_destroy, class: "form-check-input" %>
                <%= ticket_types_form.label "Delete", class: "form-check-label" %>
              </div>
              <% end %>
              <hr>
            </div>
          <% end %>
        </div>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, "#", id: 'btn_add_ticket_type', class: "btn btn-primary" %>
      </div>
    </div>
    <div class="form-group mt-2">
      <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>
