<div class="row ml-0 mt-3">
    <h2>Event:
        <%=@event.name %>
    </h2>
</div>
<div class="row ml-0 mt-3">
  <h2><%= image_tag(@event.flyer.attached? ? @event.flyer.variant(resize_to_limit: [400, 300]) : "thumbnail.svg", width: "400px", data: { bs_toggle: "modal", bs_target: "#viewFlyer" }) %></h2>
</div>
<div class="row ml-0 mt-3">
    <ul class="list-unstyled">
        <li><strong>Description:</strong>
            <%=@event.description %>
        </li>
        <li><strong>Date:</strong>
            <%=@event.start_date %>
        </li>
        <li><strong>Venue:</strong>
            <%=@event.event_venue.name %>
        </li>
        <li><strong>Address:</strong>
            <%=@event.event_venue.address %>
        </li>
    </ul>
</div>
<% if admin_signed_in? %>
<div class="row ml-0 mt-2 mb-3">
  <%= link_to "Add Ticket Type", new_event_ticket_type_path(@event), class: ["btn", "btn-primary"] %>
  &nbsp;
  <%= link_to "Edit Event", edit_event_path, class: ["btn", "btn-primary"] %>
</div>
<% end %>
<div class="row ml-0 mt-3">
    <p><strong>Ticket Types:</strong></p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Purchase</th>
            </tr>
        </thead>
        <tbody>
            <% @event.ticket_types.each_with_index do |ticket_type, i| %>
                <tr>
                    <td>
                        <%= ticket_type.name %>
                    </td>
                    <td>
                        <%= ticket_type.price %>
                    </td>
                    <% if customer_signed_in? %>
                    <td><%= link_to "Add to Cart", { controller: "shopping_cart", action: "add", ticket_type_id: ticket_type.id }, method: :post, class: ["btn", "btn-primary"] %></td>
                    <% else %>
                    <% if i == 0 %>
                        <td><%=link_to "Sign in to purchase", new_customer_session_path %></td>
                    <% else %>
                        <td>&nbsp;</td>
                    <% end %>
                    <% end %>                 
                </tr>
                <% end %>
        </tbody>
    </table>
</div>
<div class="row ml-0 mt-3">
    <%= link_to 'Back', events_path %>
</div>
<div class="modal" id="viewFlyer" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= @event.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= image_tag @event.flyer.attached? ? @event.flyer : "thumbnail.svg", width: "100%" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>