<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Universidad:</strong>
    <%= usuario.universidad %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= usuario.carrera %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= usuario.edad %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Evaluacion:</strong>
    <%= usuario.evaluacion %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= usuario.tipo %>
  </p>

</div>
